#                                         1.  Introduction to Python

The Python standard library is documented at https://docs.python.org/3/library/ and include basic functions like `print`.

Specialised tools, such as pandapower, are usually made available in other libraries (modules).
For example NumPy (http://www.numpy.org/) functions for numerical computation, very similar to what we can do in MATLAB.

To use a function from a module we need to make it available in our program , what is called as 'importing'.

In [1]:
import pandas as pd
import pandapower as pp
import numpy as np
import copy

## 1.1 Variable types

In [2]:
x = True
print(type(x))

name = 'Vinicius'
print(type(name))

age = 30
print(type(age))

money = 5.5
print(type(money))

<class 'bool'>
<class 'str'>
<class 'int'>
<class 'float'>

## 1.2 Lists

`list`. Similar to `array` in Matlab but can contain different types of variables:

In [3]:
empty_list = [] #create an empty list
empty_list

[]

In [4]:
list0 = ['Vinicius', 30, 5.5]
list0

['Vinicius', 30, 5.5]

In [5]:
list1 = [name, age, money]
list1

['Vinicius', 30, 5.5]

Let's iterate over a `list`:

In [6]:
for element in list1:
    print(element)

Vinicius
30
5.5

We can print the elements in the list or any variables using the command `print` and `.format` or simply summing strings:

In [7]:
print('My name is {}, I have {} years old and {} euros.'.format(list1[0], list1[1], list1[2]))

#or

print('My name is {}, I have {} years old and {} euros.'.format(name, age, money))

#or

print('My name is '+ name + ', i have ' + str(age) + ' years old and ' + str(money) + ' euros')

My name is Vinicius, I have 30 years old and 5.5 euros.
My name is Vinicius, I have 30 years old and 5.5 euros.
My name is Vinicius, i have 30 years old and 5.5 euros

## 1.3 Numpy arrays

We can create arrays using the `numpy` library, commonly used to operate multi-dimensional arrays and matrices.

In [8]:
array0 = np.array([(50,30)])

array1 = np.array([50,30])

array2 = np.array([(50,40),(30,40)])

array3 = np.array([(50,40,20),(30,40,10), (12,56,10)])

Lets print the arrays. Whats the difference between array0 and array1?

In [9]:
print(array3[(1)])

[30 40 10]

## 1.4 Pandas and Dataframes

Pandas is the most popular software library written for the Python programming language for data manipulation and analysis.

You can learn more in the documentation: https://pandas.pydata.org/docs/

First, lets import the library:

In [10]:
import pandas as pd

`DataFrames` are like a `tables` in Matlab.

To create a `DataFrame` we can pass a list of rows and columns to the function inside pandas library `pd.DataFrame()`, and pass a `np.array` to fill its values

In [11]:
cols = ['Product_A', 'Product_B'] # each column is an attribute
rows = ['Seller_1', 'Seller_2'] # each row is an index
array = np.array([(50,131),(47,120)])
df = pd.DataFrame(data=array, index=rows, columns=cols)
df

          Product_A  Product_B
Seller_1         50        131
Seller_2         47        120

### 1.4.1 Accessing the data in pandas

There are several ways to access data of a DataFrame. For more info: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html

In [12]:
df.Product_A #attribute

Seller_1    50
Seller_2    47
Name: Product_A, dtype: int32

Alternatively, we can use `iloc` (Index-based selection) to access data in the format `.iloc[row, column]`

This is how we can retrieve all values of the first column:

In [13]:
df.iloc[[0,1],0] # iloc ALWAYS starts with 0!

# or

df.iloc[:,0] # the : means all values

Seller_1    50
Seller_2    47
Name: Product_A, dtype: int32

Finally, we can also use `loc` (Label-based selection): in this case we have to insert the LABEL of the row/column to access the data:

In [14]:
df.loc[['Seller_1', 'Seller_2'], 'Product_A']

# or

df.loc[:,'Product_A']

Seller_1    50
Seller_2    47
Name: Product_A, dtype: int32

### 1.4.2 Try it yourself! Get the row of the DataFrame for Seller_2 using `.iloc` and `.loc`

In [15]:
df.iloc[1,:]
df.loc['Seller_2',:]

Product_A     47
Product_B    120
Name: Seller_2, dtype: int32

Let's add a new seller (row) to our `DataFrame`. Careful with the parenthesis in the array we are creating!

In [16]:
new_seller = pd.DataFrame(data=np.array([(50,30)]), index=['OJETE'], columns=df.columns)
new_seller

       Product_A  Product_B
OJETE         50         30

We can use the `append` method to adds rows to a `DataFrame`

In [17]:
df = pd.concat([df, new_seller])
df.drop(['OJETE'],inplace=true)

NameError: name 'true' is not defined

Now lets add a new product (column) to our `DataFrame`, its way easier:

In [21]:
df['Product_C'] = [30, 40, 50]
df

          Product_A  Product_B  Product_C
Seller_1         50        131         30
Seller_2         47        120         40
OJETE            50         30         50

## 1.4.3 Data analysis

`.loc` can also accept `booleans`: this is pretty useful when we want to access data based on particular logic conditions.

For example, lets get the row of the seller that sells the Product_A for less than 50

In [24]:
df.loc[df['Product_B'] > 50]

          Product_A  Product_B  Product_C
Seller_1         50        131         30
Seller_2         47        120         40

### 1.4.4 Try it yourself! 

#### Find which seller sells Product_C for 40 euros.

#### Also who sells Product_C the cheapest ( tip -> you can use the method `.min()`).

In [28]:
df.loc[df['Product_C'] == 40]

          Product_A  Product_B  Product_C
Seller_2         47        120         40

In [41]:
df.loc[df['Product_C'] == df['Product_C'].max()]

       Product_A  Product_B  Product_C
OJETE         50         30         50

## 1.5 Creating a function

This is how we declare a function:

In [38]:
# To remember: Python is sensible to indentation!!

def sum_and_increment(a, b):
    result = a + b + 1
    return result

What does it do? Lets call it:

In [39]:
value = sum_and_increment(3 , 4) 
print(value)

8

<img style="float: center;" src="Figures/formula.png" width="50%">

In [40]:
def get_reactive(P,PF):
    Q = P*np.tan(np.arccos(PF))
    return Q

# 2. Pandapower

Pandapower combines the data analysis library `pandas` and the power flow solver `PYPOWER` to create an easy way to model power grids and solve power flows.

Please take a moment to look into the documentation: https://pandapower.readthedocs.io/en/v2.10.1/about.html

First, we are going to create an empty grid: 

https://pandapower.readthedocs.io/en/v2.10.1/elements/empty_network.html

In [42]:
net = pp.create_empty_network()

We will create the grid below:

<img style="float: center;" src="Figures/example_grid.png" width="60%">

The grid has the following parameters:

<img style="float: center;" src="Figures/bus.png" width="60%">

## 2.1 Buses

Buses are created and initialized with the function `pp.create_bus` https://pandapower.readthedocs.io/en/v2.10.1/elements/bus.html

In [43]:
#creating bus0
pp.create_bus(net, name="Bus0", vn_kv=230)

#creating bus1
pp.create_bus(net, name="Bus1", vn_kv=230)

#creating bus2
pp.create_bus(net, name="Bus2", vn_kv=230)

#creating bus3
pp.create_bus(net, name="Bus3", vn_kv=230)

#creating bus4
pp.create_bus(net, name="Bus4", vn_kv=25)

4

In [46]:
net.bus #To check the buses we created we can use the attribute bus

   name  vn_kv type  zone  in_service
0  Bus0  230.0    b  None        True
1  Bus1  230.0    b  None        True
2  Bus2  230.0    b  None        True
3  Bus3  230.0    b  None        True
4  Bus4   25.0    b  None        True

The slack bus in pandapower is called `external grid` (imposes Voltage and angle): https://pandapower.readthedocs.io/en/v2.10.1/elements/ext_grid.html

In [49]:
# Bus 0 Slack: 
pp.create_ext_grid(net, 0)

0    False
1     True
2    False
3    False
4    False
Name: name, dtype: bool

## 2.2 Loads

The `loads` element can be defined as follow: https://pandapower.readthedocs.io/en/v2.10.1/elements/load.html

## Try it yourself! Insert active and reactive loads through the function:

In [56]:
# Bus 0 Load
PF = 0.85
p_mw = 50
q_mvar= get_reactive(p_mw, PF)
pp.create_load(net, 0, p_mw, q_mvar)

# Bus 1 Load
p_mw = 170
q_mvar= get_reactive(p_mw, PF)
pp.create_load(net, 1, p_mw, q_mvar)

# Bus 2 Load
p_mw = 200
q_mvar= get_reactive(p_mw, PF)
pp.create_load(net, 2, p_mw, q_mvar)

# Bus 3 Load
p_mw = 80
q_mvar= get_reactive(p_mw, PF)
pp.create_load(net, 3, p_mw, q_mvar)

# Bus 4 Load
p_mw = 80
q_mvar= get_reactive(p_mw, PF)
pp.create_load(net, 4, p_mw, q_mvar)

net

This pandapower network includes the following parameter tables:
   - bus (5 element)
   - load (25 element)
   - ext_grid (3 element)

In [73]:
net.load  #Similarly we can see the attribute load

,name,bus,p_mw,q_mvar,const_z_percent,const_i_percent,sn_mva,scaling,in_service,type
0,None,0,50.0,30.987217,0.0,0.0,NaN,1.0,True,wye
1,None,1,170.0,105.356538,0.0,0.0,NaN,1.0,True,wye
2,None,2,200.0,123.948868,0.0,0.0,NaN,1.0,True,wye
3,None,3,80.0,49.579547,0.0,0.0,NaN,1.0,True,wye
4,None,4,80.0,49.579547,0.0,0.0,NaN,1.0,True,wye
14,None,4,80.0,49.579547,0.0,0.0,NaN,1.0,True,wye
15,None,0,50.0,30.987217,0.0,0.0,NaN,1.0,True,wye
16,None,1,170.0,105.356538,0.0,0.0,NaN,1.0,True,wye
17,None,2,200.0,123.948868,0.0,0.0,NaN,1.0,True,wye
18,None,3,80.0,49.579547,0.0,0.0,NaN,1.0,True,wye
19,None,4,80.0,49.579547,0.0,0.0,NaN,1.0,True,wye
20,None,0,50.0,30.987217,0.0,0.0,NaN,1.0,True,wye
21,None,1,170.0,105.356538,0.0,0.0,NaN,1.0,True,wye
22,None,2,200.0,123.948868,0.0,0.0,NaN,1.0,True,wye
23,None,3,80.0,49.579547,0.0,0.0,NaN,1.0,True,wye
24,None,4,80.0,49.579547,0.0,0.0,NaN,1.0,True,wye

## 2.3 Generator

We now have to add the generator `sgen` at Bus3: https://pandapower.readthedocs.io/en/v2.10.1/elements/sgen.html

### Try it yourself: create a static generator!

In [74]:
# Bus 3 Generator
pp.create_sgen(net, 3, 318, 0)

# Bus 4 Generator
pp.create_sgen(net, 4, 0, 0)

1

## 2.4 Lines

In order to create lines we need the following parameters in physical units per km  `create_line_from_parameters`: https://pandapower.readthedocs.io/en/v2.10.1/elements/line.html

<img style="float: center;" src="Figures/lines_input.png" width="50%">

Lets assume the following parameters to create the lines:

<img style="float: center;" src="Figures/line.png" width="50%">

In [75]:
# The susceptance (b) is not needed

r01 = 0.01008
r02 = 0.00744
r13 = 0.00744
r23 = 0.01272

x01 = 0.05040
x02 = 0.03720
x13 = 0.03720
x23 = 0.06360

Since data are in p.u. we have to translate the information into pandapower accepted format: ohm/km

Remember that the base impedance is equal to:

<img style="float: center;" src="Figures/Base_impedance.png" width="15%">

Let's define a function to deal with p.u. values:

In [76]:
Z_b = 230**2/100
def get_per_km_value(a_pu, L, Z_b):
    value = a_pu*Z_b/L
    return value

If we suppose a medium lenght line L = 100km we cannot neglect capacitance C [nF], the longer the line the bigger is the capacitance.

In this case, lets assume C = 18,2 nF/km for all lines

Lets also assume the maximum thermal current to be 0.960 kA

In [77]:
L = 100
c_nf_km = 18.2
max_i_ka = 0.960

Now, lets translate the values in p.u into ohm/km with the function we created before:

In [78]:
r01_km = get_per_km_value(r01,L,Z_b)
r02_km = get_per_km_value(r02,L,Z_b)
r13_km = get_per_km_value(r13,L,Z_b)
r23_km = get_per_km_value(r23,L,Z_b)

x01_km = get_per_km_value(x01,L,Z_b)
x02_km = get_per_km_value(x02,L,Z_b)
x13_km = get_per_km_value(x13,L,Z_b)
x23_km = get_per_km_value(x23,L,Z_b)

Finally, let'create lines from parameters calculated:

In [79]:
pp.create_line_from_parameters(net, from_bus = 0, to_bus = 1, length_km = L, r_ohm_per_km = r01_km, x_ohm_per_km = x01_km, c_nf_per_km = c_nf_km , max_i_ka = max_i_ka, name='01')
pp.create_line_from_parameters(net, from_bus = 0, to_bus = 2, length_km = L, r_ohm_per_km = r02_km, x_ohm_per_km = x02_km, c_nf_per_km = c_nf_km , max_i_ka = max_i_ka, name='02')
pp.create_line_from_parameters(net, from_bus = 1, to_bus = 3, length_km = L, r_ohm_per_km = r13_km, x_ohm_per_km = x13_km, c_nf_per_km = c_nf_km , max_i_ka = max_i_ka, name='13')
pp.create_line_from_parameters(net, from_bus = 2, to_bus = 3, length_km = L, r_ohm_per_km = r23_km, x_ohm_per_km = x23_km, c_nf_per_km = c_nf_km , max_i_ka = max_i_ka, name='23')

3

## 2.5 Transformer 

Similarly to lines we have to create the transformer based on the following parameters `create_transformer_from_parameters`: https://pandapower.readthedocs.io/en/v2.10.1/elements/trafo.html

<img style="float: center;" src="Figures/transformer_function.png" width="50%">

Lets assume the following values (you can also check the standard library of pandapower in https://pandapower.readthedocs.io/en/v2.10.1/std_types.html):

<img style="float: center;" src="Figures/transformer_input.png" width="80%">

Now lets create the transformer between buses 1 and 4:

In [80]:
pp.create_transformer_from_parameters(net, hv_bus = 1, lv_bus = 4, sn_mva = 150, 
                                      vn_hv_kv = 230, vn_lv_kv = 25, vk_percent = 12, 
                                      vkr_percent = 0.26, pfe_kw = 55, i0_percent = 0.06, name = 'Trafo1')

0

## 2.6 Summary and recap

Let's look what elements are present in the network:

In [81]:
net

This pandapower network includes the following parameter tables:
   - bus (5 element)
   - load (16 element)
   - sgen (2 element)
   - ext_grid (3 element)
   - line (4 element)
   - trafo (1 elements)

Let's access different elements:

In [84]:
net.load

,name,bus,p_mw,q_mvar,const_z_percent,const_i_percent,sn_mva,scaling,in_service,type
0,None,0,50.0,30.987217,0.0,0.0,NaN,1.0,True,wye
1,None,1,170.0,105.356538,0.0,0.0,NaN,1.0,True,wye
2,None,2,200.0,123.948868,0.0,0.0,NaN,1.0,True,wye
3,None,3,80.0,49.579547,0.0,0.0,NaN,1.0,True,wye
4,None,4,80.0,49.579547,0.0,0.0,NaN,1.0,True,wye

### Try it yourself: What is the rated voltage of the 3rd bus?

In [101]:
net.bus.loc[net.bus['name']=='Bus3'].vn_kv

3    230.0
Name: vn_kv, dtype: float64

### Try it yourself: what is the rated power of the Transformer?

In [104]:
net.trafo[sn_mva]

0    150.0
Name: sn_mva, dtype: float64

## 2.7 Power flow

To run the powerflow in pandapower we can simpy call the function `runpp()`: https://pandapower.readthedocs.io/en/v2.10.1/powerflow/run.html

In [96]:
pp.runpp(net)

numba cannot be imported and numba functions are disabled.
Probably the execution is slow.
Please install numba to gain a massive speedup.
(or if you prefer slow execution, set the flag numba=False to avoid this warning!)

In pandapower, the power flow results are stored in attribute 'res_' followed by the element we want to access:

In [ ]:
net.res_bus

### Did you verify any problems in the network?

In [ ]:
net.res_trafo

### What is the efficiency of the grid?

In [ ]:
# We can calculate the efficiency by dividing the total power demanded by the total power generated

def get_eff(net):
    efficiency = sum(net.res_load['p_mw'])/(sum(net.res_sgen['p_mw']) + sum(net.res_ext_grid['p_mw']))
    return efficiency

get_eff(net)

Lets try to improve efficiency and solve the issues we encountered by increasing the reactive power in bus 4

In [ ]:
net.sgen.loc[1, 'q_mvar'] = 0
pp.runpp(net)
get_eff(net)

## 2.8 Plotting

Do you know pandapower has its own plotting functions? It uses the plotly library to provide interactive graphs to show grid topology and power flow results. Try this out!

In [ ]:
# Lets import the functions we need
from pandapower.plotting import simple_plotly, pf_res_plotly

# Lets set some coordinates
net.bus_geodata.x = [-1, -1, 1, 1, -1]
net.bus_geodata.y = [1, 0, 1, 0, -1]

# Now we can plot the power flow results
simple_plotly(net)

You can also plot the powerflow results, and even plot it on a map.

In [ ]:
pf_res_plotly(net, on_map=True)

The grid was plotted on the middle of the ocean? Do you know why? The answer will be given in the next Lab!

# 3. Exercises

First, lets create a new copy of our network to use in the next exercises:

In [ ]:
net2 = pp.pandapowerNet(copy.deepcopy(net))

## 3.1 Exercise 1

How much power do we need to inject un bus 4 so that the voltage is between a valid range (+/- 10%)? Add increments of 10 MVAr and save it on a dataframe comparing with the bus 4 voltage.

Tip: Remember to reset the values of the generator!

In [ ]:
# first create the solution dataframe
solution = pd.DataFrame(columns = [? , ?])

# reset values of the generator
net2.sgen.? = 0
pp.runpp(net2)
while net2.res_bus.loc[?] < 0.9:
    net2.sgen.loc[1, 'q_mvar'] = ? + 10  # increment of 10 MVAr
    pp.runpp(?)
    values = np.array([(net2.sgen.loc[?], net2.res_bus.loc[?] )])
    new_line = pd.DataFrame(data=values, columns=solution.columns)
    solution = pd.concat([?, ?], ignore_index=True)

In [ ]:
print(solution)

##  3.2 Exercise 2

First, create a dataframe of normalized profiles (between 0 and 1) for load and generation for 6 hours. 

Use the following numbers:

<img style="float: center;" src="Figures/profiles.png" width="80%">

In [ ]:
# create the dataframe with the index values of the hours and the two columns
profiles = pd.DataFrame(index = ?, columns = ?)

# add the p.u. values to the column of the loads and generation. You can simply pass a list []
profiles[?] = ? 
profiles[?] = ?

In [ ]:
print(profiles)

Now create a dataframe to store the power flow results. We want to check each bus voltage and transformer loading for each of the profiles we created before.

In [ ]:
results = pd.DataFrame(index = profiles.index, 
                       columns = ['Bus0_vn', 'Bus1_vn', 'Bus2_vn', 'Bus3_vn', 'Bus4_vn', 'Trafo_loading'])

Now, create a function that updates the loads and generation by multiplying its values by the p.u. values in the profiles.

In [ ]:
# which parameters do we need? the network, the p.u. value of load and generator. 

def update_values(net, load_pu, gen_pu):
    
    # we can simply multiply all the elements of the column by the p.u. value
    
    net.load['p_mw'] = net.load['p_mw']*?
    net.sgen['p_mw'] = ?
    
    return net

## 3.3 Exercise 3

Use all the knowledge we learn so far and create a script that iterates over the profiles created, updates the values, run the power flow and save the results. 

Tip 1: You can use the syntax of the `for` loop to iterate over the rows of the profiles dataframe.

Tip 2: Use the function we just created to update the values of load and generation power.

Tip 3: Remember to create a copy of the network and reload to the base values before each iteration!

In [ ]:
for hour in profiles.index:
    net3 = pp.pandapowerNet(copy.deepcopy(net))
    load_pu =  profiles.loc[hour, ?]
    gen_pu = profiles.loc[?, ?]
    net3 = update_values(net3, ?, ?)
     ???  # run the power flow again for net3
    
    # now we can store the values in our results dataframe
    results.loc[hour, 'Bus0_vn'] = net3.res_bus.loc[0, 'vm_pu']
    results.loc[hour, ?] = net3.res_bus.loc[?]
    results.loc[?, ?] = ?
    ?
    ?
    ?

In [ ]:
print(results)

#### In which hour is the transformer load the heaviest?

In [ ]:
results.loc[results['Trafo_loading'] == results.Trafo_loading.max()]