In [1]:
import os
import numpy as np
import pandas as pd
import tempfile
import random
import pandapower as pp
import plotly.express as px
from pandapower.timeseries import DFData
from pandapower.timeseries import OutputWriter
from pandapower.timeseries.run_time_series import run_timeseries
from pandapower.control import ConstControl

In [2]:
net = pp.from_excel('exported_real_net_to_excel.xlsx') #to import the net from an excel file
print(net)

This pandapower network includes the following parameter tables:
   - bus (14 element)
   - load (4 element)
   - gen (1 elements)
   - ext_grid (1 elements)
   - line (6 element)
   - trafo (4 element)
   - bus_geodata (14 element)

In [15]:
#creating datasource profiles
profiles = pd.DataFrame(index = [i for i in range(0, 24)], columns = ['demand_pu','loadtype1_real','loadtype2_real']) #hours and columns
profiles['demand_pu']  = pd.read_excel('real_pu_24h_profiles.xlsx')
profiles
#pd.read_excel('real_pu_24h_profiles.xlsx')

    demand_pu
0    0.745638
1    0.704584
2    0.666213
3    0.647739
4    0.641380
5    0.645963
6    0.690197
7    0.807978
8    0.922942
9    0.945642
10   0.955230
11   0.941336
12   0.924308
13   0.918362
14   0.898770
15   0.888262
16   0.883731
17   0.881576
18   0.893553
19   0.951694
20   0.996266
21   1.000000
22   0.922911
23   0.836283

In [16]:
profiles['loadtype1_real'] = profiles['demand_pu']*55;
profiles['loadtype2_real'] = profiles['demand_pu']*150;
profiles

    demand_pu  loadtype1_real  loadtype2_real
0    0.745638       41.010114      111.845766
1    0.704584       38.752108      105.687568
2    0.666213       36.641724       99.931976
3    0.647739       35.625639       97.160833
4    0.641380       35.275883       96.206954
5    0.645963       35.527958       96.894430
6    0.690197       37.960841      103.529567
7    0.807978       44.438769      121.196642
8    0.922942       50.761795      138.441259
9    0.945642       52.010318      141.846321
10   0.955230       52.537660      143.284526
11   0.941336       51.773479      141.200398
12   0.924308       50.836960      138.646255
13   0.918362       50.509890      137.754245
14   0.898770       49.432351      134.815503
15   0.888262       48.854391      133.239248
16   0.883731       48.605194      132.559621
17   0.881576       48.486691      132.236429
18   0.893553       49.145403      134.032916
19   0.951694       52.343144      142.754029
20   0.996266       54.794650      149.439954
21   1.000000       55.000000      150.000000
22   0.922911       50.760102      138.436642
23   0.836283       45.995571      125.442466